@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

body {
  font-size: 16px;
  background-image: url("../images/pattern-background-desktop.svg");
  background-repeat: repeat-x;
  background-color: #e0e8ff;
  font-family: Red Hat Display;
}

h1 {
  font-size: 1.75rem;
  font-weight: 900;
}

h2 {
  font-weight: 900;
}

p {
  font-size: 1rem;
  font-weight: 500;
  color: #7280a7;
}

.card {
  max-width: 28.125rem;
  margin: 10% auto 0 auto;
  background-color: #fff;
  border-radius: 1.25rem;
  box-sizing: border-box;
  box-shadow: 0 0 1.25rem #e0e8ff;
}

.card img {
  border-radius: 1.25rem 1.25rem 0 0;
}

.card-content {
  width: 100%;
  padding: 3.125rem;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 0 0 1.25rem 1.25rem;
}

.card-summary h1 {
  text-align: center;
}

.card-summary p {
  display: block;
  text-align: center;
  padding: 1.25rem;
  line-height: 1.625rem;
}

.card-plan {
  position: relative;
  background-color: #f8f9fe;
  padding: 1.25rem;
  border-radius: 0.625rem;
}

.card-plan img {
  display: inline-block;
}

.card-plan a {
  position: absolute;
  font-weight: 900;
  top: 2.313rem;
  right: 1.25rem;
}

.card-plan a:hover {
  text-decoration: none;
  color: #bbb4f6;
}

.card-plan-info {
  display: inline-block;
  vertical-align: top;
}

.card-plan-info h2,
p {
  text-align: left;
  vertical-align: top;
  padding: 0.313rem 0 0 0.625rem;
}

.card-content button,
.cancel {
  display: block;
  text-align: center;
  padding: 0.625rem;
  margin: 1.25rem 0 0 0;
  font-size: 1rem;
  font-family: Red Hat Display;
  font-weight: 700;
  cursor: pointer;
}

.card-content button {
  width: 100%;
  border: 0;
  border-radius: 0.625rem;
  box-sizing: border-box;
  box-shadow: 0 0.625rem 1.25rem hsl(224, 23%, 55%);
  background-color: #382ae1;
  color: #fff;
  transition: background-color 500ms;
}

.card-content button:hover {
  background-color: #766cf1;
}

.cancel {
  color: #7280a7;
  text-decoration: none;
}

.cancel:hover {
  font-weight: 900;
}

.attribution {
  padding: 0.625rem 0 0 0;
}

.attribution p {
  display: block;
  font-size: 0.5rem;
  text-align: center;
}

@media only screen and (max-width: 25rem) {
  .card-content {
    min-width: 28.125rem;
  }
}
